-var gallery_images = ['../assets/images/galeria1.jpg','../assets/images/galeria2.jpg','../assets/images/galeria3.jpg','../assets/images/galeria4.jpg']
-var news_plataform = ['playstation','switch','xbox']
-var news_titles = ['gta vi: filtraciones de información que son bastante dudosas','secuela de the legend of zelda: breath of the wild anunciada en el e3 2019','red dead online recibe actualización masiva y sale de beta']
-var news_descriptions = ['Recientemente se filtró en Internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy buena idea de lo que podemos esperar.','Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto','Rockstar lanzó el día de hoy la actualización más grande de Red Dead Online desde que el componente online de Red Dead Redemption 2 se lanzó en noviembre']

mixin statistics(data,indicator)
  .statistics--profile__item
    strong #{data}
    span #{indicator}

mixin gallery(image_url)
  figure.gallery--profile__item
    img(src=image_url, alt="Imágen de galería")

mixin news(plataform,title,description)
  .news__item
    strong #{plataform}
    h2 #{title}
    p #{description}